body {
    display: flex;
    justify-content: center;
}

#calc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output {
    text-align: center;
    width: 170px;
    height: 30px;
    background-color: grey;
}

#calcBody {
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}