body {
    display: flex;
    font-family: monospace;
    justify-content: center;
    background-color: rgba(205, 92, 92, 0.569);
}

#calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(197, 51, 51, 0.501);
    padding: 10px;
    border-radius: 3%;
}

#output {
    text-align: center;
    width: 220px;
    height: 75px;
    margin-bottom: 25px;
    border-radius: 5%;
    background-color: rgb(197, 51, 51);
    color: white;
    font-size: 32px;
    padding-top: 20px;
    font-weight: 900;
}

#calcBody {
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 5%;
    border-style: none;
    background-color: rgb(197, 51, 51);
    font-size: large;
    color: white;
    font-weight: 900;
}

#\\0 {
    grid-column: auto / span 2;
    width: 103px;
}

#clear {
    grid-column: auto / span 2;
    width: 103px;
}

#enter {
    grid-column: auto / span 2;
    width: 103px;
}

button:hover {
    background-color: rgb(148, 60, 60);
}

#mult, #add, #divide, #subtract {
    background-color: rgb(161, 37, 37);
}

#mult:hover, #add:hover, #divide:hover, #subtract:hover {
    background-color: rgba(161, 37, 37, 0.624);
}